Regresión Lineal Múltiple - High Point Sofa and Chair
1. Determinar las varibles independientes
2. Determinar la variable dependiente
3. Obtener el valor de intersección
4. Estimar el desempeño laboral

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
#Importar datos
df = pd.read_csv('../datasets/HighPointSofaandChair.csv')
df.head()

     Worker  Performance  Aptitude  Union
0    Abbott           58         5      0
1  Anderson           53         4      0
2    Bender           33        10      0
3      Bush           97        10      0
4    Center           36         2      0

# 1. Determinar las variables independientes
   x1,x2

In [6]:
X=df[['Aptitude','Union']]
X

    Aptitude  Union
0          5      0
1          4      0
2         10      0
3         10      0
4          2      0
5          7      0
6          6      0
7          9      0
8          9      1
9          2      1
10         8      1
11         6      1
12         7      1
13         3      1
14         6      1

# 2. Determinar la variable dependiente Y

In [7]:
y=df[['Performance']]
y

    Performance
0            58
1            53
2            33
3            97
4            36
5            83
6            67
7            84
8            98
9            45
10           97
11           90
12           96
13           66
14           82

In [8]:
#Ajustar el modelo de regresión múltiple
model = LinearRegression()
model.fit(X,y) #entrenar el modelo
y_pred = model.predict(X)
#y_pred

#Métricas estadísticas
mse = mean_squared_error(y,y_pred) #Error de la media cuadrática
r2 = r2_score(y, y_pred) #varianza

# 3. Valor de intersección

In [9]:
model.intercept_

array([29.27618014])

In [10]:
#coeficientes
print('Coeficientes: ',model.coef_ )
print('Error cuadratico de la media: ',mse)
print('Varianza: ',r2)

Coeficientes:  [[ 5.22246337 22.13510581]]
Error cuadratico de la media:  228.9361548200398
Varianza:  0.5329951510923939

# 4. Estimar el desempeño laboral

In [15]:
Y = model.predict([[5,0]])
print("El desempeño laboral con una aptitud: ",Y)

El desempeño laboral con una aptitud:  [[55.38849702]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(