Regresión Lineal Múltiple - Cincinnati Paint Company
1. Determinar las varibles independientes
2. Determinar la variable dependiente
3. Obtener el valor de intersección
4. Estimar la comisión

In [17]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [18]:
#Importar datos
df = pd.read_csv('../datasets/CincinnatiPaintCompany.csv')
df.head()

   Commissions  Calls  Driven
0           22    139    2371
1           13    132    2226
2           33    144    2731
3           38    142    3351
4           23    142    2289

# 1. Determinar las variables independientes
   x1,x2

In [29]:
X=df[['Driven','Calls']]
X

    Driven  Calls
0     2371    139
1     2226    132
2     2731    144
3     3351    142
4     2289    142
5     3449    142
6     3114    138
7     3342    139
8     2842    144
9     2625    134
10    2121    135
11    2219    137
12    3463    146
13    3290    146
14    3103    144
15    2122    147
16    2791    144
17    3209    149
18    2287    131
19    2848    144
20    2690    132
21    2933    132
22    2671    127
23    2988    154
24    2829    147

# 2. Determinar la variable dependiente Y

In [30]:
y=df[['Commissions']]
y

    Commissions
0            22
1            13
2            33
3            38
4            23
5            47
6            29
7            38
8            41
9            32
10           20
11           13
12           47
13           38
14           44
15           29
16           38
17           37
18           14
19           34
20           25
21           27
22           25
23           43
24           34

In [31]:
#Ajustar el modelo de regresión múltiple
model = LinearRegression()
model.fit(X,y) #entrenar el modelo
y_pred = model.predict(X)
#y_pred

#Métricas estadísticas
mse = mean_squared_error(y,y_pred) #Error de la media cuadrática
r2 = r2_score(y, y_pred) #varianza

# 3. Valor de intersección

In [32]:
model.intercept_

array([-101.31444968])

In [33]:
#coeficientes
print('Coeficientes: ',model.coef_ )
print('Error cuadratico de la media: ',mse)
print('Varianza: ',r2)

Coeficientes:  [[0.01568925 0.63233256]]
Error cuadratico de la media:  16.31341272793606
Varianza:  0.8352686374291525

# 4. Estimar las comisiones

In [34]:
Y = model.predict([[139,2371]])
print("La comisión es: ",Y)

La comisión es:  [[1400.12684858]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(