Regresión Lineal Múltiple - Constructor inmobiliario
1. Determinar las varibles independientes
2. Determinar la variable dependiente
3. Obtener el valor de intersección
4. Estimar los metros cuadrados

In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
#Importar datos
df = pd.read_csv('../datasets/ConstructorInmobiliario.csv')
df.head()

   Family  SqrFt  Income  Size  Senior  Education
0       1   2240    60.8     2       0          4
1       2   2380    68.4     2       1          6
2       3   3640   104.5     3       0          7
3       4   3360    89.3     4       1          0
4       5   3080    72.2     4       0          2

# 1. Determinar las variables independientes
   x1,x2

In [13]:
X=df[['Income','Size','Senior','Education']]
X

   Income  Size  Senior  Education
0    60.8     2       0          4
1    68.4     2       1          6
2   104.5     3       0          7
3    89.3     4       1          0
4    72.2     4       0          2
5   114.0     3       1         10
6   125.4     6       0          6
7    83.6     3       0          8
8   133.0     5       0          2
9    95.0     3       0          6

# 2. Determinar la variable dependiente Y

In [14]:
y=df[['SqrFt']]
y

   SqrFt
0   2240
1   2380
2   3640
3   3360
4   3080
5   2940
6   4480
7   2520
8   4200
9   2800

In [15]:
#Ajustar el modelo de regresión múltiple
model = LinearRegression()
model.fit(X,y) #entrenar el modelo
y_pred = model.predict(X)
#y_pred

#Métricas estadísticas
mse = mean_squared_error(y,y_pred) #Error de la media cuadrática
r2 = r2_score(y, y_pred) #varianza

# 3. Valor de intersección

In [16]:
model.intercept_

array([879.3937802])

In [17]:
#coeficientes
print('Coeficientes: ',model.coef_ )
print('Error cuadratico de la media: ',mse)
print('Varianza: ',r2)

Coeficientes:  [[ 16.32862748 274.68232141 -83.04632698 -38.60445866]]
Error cuadratico de la media:  44524.86444981298
Varianza:  0.9134269528337073

# 4. Estimar los metros cuadrados

In [19]:
Y = model.predict([[60.8,2,0,4]])
print("Los metros cuadrados de la casa serán: ",Y)

Los metros cuadrados de la casa serán:  [[2267.12113914]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(