# Constructor Inmobiliario

In [23]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Importe de Datos
data = pd.read_csv("./ConstructorInmobiliario.csv")
data.head()

   Family  SqrFt  Income  Size  Senior  Education
0       1   2240    60.8     2       0          4
1       2   2380    68.4     2       1          6
2       3   3640   104.5     3       0          7
3       4   3360    89.3     4       1          0
4       5   3080    72.2     4       0          2

# 1. Determinar las variables independientes

In [24]:
X = data[['Income', 'Size', 'Senior', 'Education']]
X

   Income  Size  Senior  Education
0    60.8     2       0          4
1    68.4     2       1          6
2   104.5     3       0          7
3    89.3     4       1          0
4    72.2     4       0          2
5   114.0     3       1         10
6   125.4     6       0          6
7    83.6     3       0          8
8   133.0     5       0          2
9    95.0     3       0          6

# #2. Determinar la variable dependiente

In [25]:
y = data[["SqrFt"]]
y

   SqrFt
0   2240
1   2380
2   3640
3   3360
4   3080
5   2940
6   4480
7   2520
8   4200
9   2800

In [26]:
# Ajustar el modelo de regresión múltiple
model = LinearRegression()
model.fit(X, y) #Entrenando el modelo
y_pred = model.predict(X) #Predicciones del modelo
y_pred

#Métricas estadísticas
mse = mean_squared_error(y, y_pred) # Error de la media cuadrática
r2 = r2_score(y, y_pred) # Varianza

# 3. Valor de Intersección

In [27]:
model.intercept_

array([879.3937802])

In [28]:
# Coeficientes de la regresión
print("Coeficientes: ", model.coef_)
print("Error de la media cuadrática (MSE): ", mse)
print("Varianza (R^2): ", r2)

Coeficientes:  [[ 16.32862748 274.68232141 -83.04632698 -38.60445866]]
Error de la media cuadrática (MSE):  44524.864449813
Varianza (R^2):  0.9134269528337073

# 4. Estimación de Tamaño de una Casa

In [29]:
Y = model.predict(np.array([[99,5,1,8]]))
print("Tamaño estimado de la casa: ", Y)

Tamaño estimado de la casa:  [[3477.45751146]]

c:\Users\panch\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Conclusión
Una ecuación de regresión múltiple apropiada relaciona el tamaño de la casa con el ingreso familiar, el número de miembros de la familia, la presencia de un adulto mayor y los años de educación. Con base en los resultados del modelo, las variables que se incluirían en la ecuación final son principalmente el ingreso familiar y el tamaño de la familia, ya que son las que explican mejor el tamaño de la vivienda. Las demás variables pueden aportar información adicional, pero su efecto es menor.